.idea/

# Mysql
mysql/mysql-data/

# Postgres
postgres/postgres-data/
postgres/.env

# Airflow
airflow/dags/
airflow/plugins/
airflow/logs/

# N8N
n8n/.env

# AirFlow
airflow/dags/
airflow/logs/
airflow/plugins/
airflow/.env

# AppWrite
appwrite/.env